.DS_Store
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.tags*
.idea/
.vscode/
.git
app/package-lock.json
app/yarn.lock
app/node_modules/
app/dist/
logs/
dist/
release/
--colors
resources/Thumbs.db
log/



